* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------- Font family ---------------------------------- */

.f-family {
  font-family: "Roboto Condensed", sans-serif;
}

/* ---------------------------------- Border ---------------------------------- */


/* ---------------------------------- Font sizes ---------------------------------- */

.fs-13 {
  font-size: 0.8rem;
}

.fs-18 {
  font-size: 1.1rem;
}

/* ---------------------------------- Background colors ---------------------------------- */

.header-top {
  background-color: #f72210;
}

/* ---------------------------------- Colors ---------------------------------- */

.navbar-brand {
  fill: white;
}

.c-white {
  color: white;
}

.c-dark {
    color: #212529 !important;
}

/* ---------------------------------- Positions ---------------------------------- */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* --------------------------------------------------- HEADER ------------------------------------------------------- */

.navbar-brand svg {
  width: 7.5rem;
}

.container-fluid,
.container {
  max-width: 1310px;
}

div .rounded {
  border-radius: 1.25rem !important;
}

.fa-user {
  color: antiquewhite;
}

.btn-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.login:hover {
  background-color: #f72210;
  color: white;
  text-decoration: none;
}

.bottom-nav {
  right: 0;
  width: 13.9rem;
}

@media screen and (min-width: 992px) {
  .navbar-brand svg {
    width: 22.5rem;
  }
}

.bring-front {
  z-index: 1;
}

/* --------------------------------------------------- MAIN SECTION ------------------------------------------------------- */

.corner {
  bottom: 0;
  margin-bottom: 6px;
}

.article-title:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.section-title {
  font-size: 15px;
  color: rgba(3, 3, 3, 0.4);
  line-height: 15px;
  margin-top: 20px;
}
