.fs-13 {
    font-size: 0.8rem;
}

.header-top {
  background-color: #f72210;
}

.navbar-brand {
  fill: white;
}

.navbar-brand svg {
  width: 7.5rem;
}

.container-fluid,
.container {
  max-width: 1310px;
}

div .rounded {
    border-radius: 1.25rem !important;
}

.fa-user {
    color: antiquewhite;
}

@media screen and (min-width: 992px) {
  .navbar-brand svg {
    width: 22.5rem;
  }
}
